{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container py-5">
    <div class="col-md-8 offset-2">
        {% comment %}
        <h1 class="mb-5">Пароль изменен</h1> {% endcomment %}
        <div class="card mb-4" id="forms">
            <div class="card-body">
                <h1>Электронное письмо отправлено успешно.</h1>
                <div>
                    Пожалуйста, проверьте свой почтовый ящик на наличие ссылки для сброса пароля.
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}