<footer class="bg-dark text-white">
    <div class="container py-4">
        <div class="row py-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <h6 class="text-uppercase mb-3">Обслуживание клиентов</h6>
                <ul class="list-unstyled mb-0">
                    <li><a class="footer-link" href="#">Помощь &amp; Связь с нами</a></li>
                    <li><a class="footer-link" href="#">Онлайн-магазин</a></li>
                    <li><a class="footer-link" href="#">Правила &amp; Условия</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <h6 class="text-uppercase mb-3">Компания</h6>
                <ul class="list-unstyled mb-0">
                    <li><a class="footer-link" href="#">Что мы делаем</a></li>
                    <li><a class="footer-link" href="#">Последние новости</a></li>
                    <li><a class="footer-link" href="#">Часто задаваемые вопросы</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h6 class="text-uppercase mb-3">Социальные сети</h6>
                <ul class="list-unstyled mb-0">
                    <li><a class="footer-link" href="#">Вконтакте</a></li>
                    <li><a class="footer-link" href="#">Telegram</a></li>
                    <li><a class="footer-link" href="#">Whats up</a></li>
                </ul>
            </div>
        </div>
        <div class="border-top pt-4" style="border-color: #1d1d1d !important">
            <div class="row">
                <div class="col-lg-6">
                    <p class="small text-muted mb-0">&copy; 2022 Все права защищены.</p>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <p class="small text-muted mb-0">Авторские права <a class="text-white reset-anchor" href="#" target="_blank">Джумаев Павел</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>