{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
    <section class="py-5 bg-light">
        <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-lg-6">
                    <h1 class="h2 text-uppercase mb-0">Покупка</h1>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                            <li class="breadcrumb-item"><a href="index.html">Главная</a></li>
                            <li class="breadcrumb-item"><a href="cart.html">Корзина</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Покупка</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <h2 class="h5 text-uppercase mb-4">Детали заказа</h2>
        <div class="row">
            <div class="col-lg-8">
                <form action="#">
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <label class="text-small text-uppercase" for="firstName">Имя</label>
                            <input class="form-control form-control-lg" id="firstName" type="text" placeholder="Введите вашу фамилию">
                        </div>
                        <div class="col-lg-6 form-group">
                            <label class="text-small text-uppercase" for="lastName">Фамилия</label>
                            <input class="form-control form-control-lg" id="lastName" type="text" placeholder="Введите вашу фамилию">
                        </div>
                        <div class="col-lg-6 form-group">
                            <label class="text-small text-uppercase" for="email">Электронная почта</label>
                            <input class="form-control form-control-lg" id="email" type="email" placeholder="mail@example.com">
                        </div>
                        <div class="col-lg-6 form-group">
                            <label class="text-small text-uppercase" for="phone">Номер телефона</label>
                            <input class="form-control form-control-lg" id="phone" type="tel" placeholder="+7977879878">
                        </div>
                        <div class="col-lg-6 form-group">
                            <label class="text-small text-uppercase" for="country">Страна</label>
                            <select class="selectpicker country" id="country" data-width="fit" data-style="form-control form-control-lg" data-title="Выберите страну"></select>
                        </div>
                        <div class="col-lg-12 form-group">
                            <label class="text-small text-uppercase" for="address">Адрес</label>
                            <input class="form-control form-control-lg" id="address" type="text" placeholder="House number and street name">
                        </div>
                        <div class="col-lg-12 form-group">
                            <label class="text-small text-uppercase" for="address">Детали адреса</label>
                            <input class="form-control form-control-lg" id="addressalt" type="text" placeholder="Квартира, подъезд, этаж)">
                        </div>
                        <div class="col-lg-6 form-group">
                            <label class="text-small text-uppercase" for="city">Город/Округ</label>
                            <input class="form-control form-control-lg" id="city" type="text">
                        </div>
                        <div class="col-lg-6 form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="alternateAddressCheckbox" type="checkbox">
                                <label class="custom-control-label text-small" for="alternateAddressCheckbox">Альтернативный адрес</label>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="row d-none" id="alternateAddress">
                                <div class="col-12 mt-4">
                                    <h2 class="h4 text-uppercase mb-4">Альтернативный адрес</h2>
                                </div>
                                <div class="col-lg-6 form-group">
                                    <label class="text-small text-uppercase" for="firstName">Имя</label>
                                    <input class="form-control form-control-lg" id="firstName" type="text" placeholder="Введите вашу фамилию">
                                </div>
                                <div class="col-lg-6 form-group">
                                    <label class="text-small text-uppercase" for="lastName">Фамилия</label>
                                    <input class="form-control form-control-lg" id="lastName" type="text" placeholder="Введите вашу фамилию">
                                </div>
                                <div class="col-lg-6 form-group">
                                    <label class="text-small text-uppercase" for="email">Электронная почта</label>
                                    <input class="form-control form-control-lg" id="email" type="email" placeholder="mail@example.com">
                                </div>
                                <div class="col-lg-6 form-group">
                                    <label class="text-small text-uppercase" for="phone">Номер телефона</label>
                                    <input class="form-control form-control-lg" id="phone" type="tel" placeholder="+7977879878">
                                </div>
                                <div class="col-lg-6 form-group">
                                    <label class="text-small text-uppercase" for="country">Страна</label>
                                    <select class="selectpicker country" id="country" data-width="fit" data-style="form-control form-control-lg" data-title="Выберите страну"></select>
                                </div>
                                <div class="col-lg-12 form-group">
                                    <label class="text-small text-uppercase" for="address">Адрес</label>
                                    <input class="form-control form-control-lg" id="address" type="text" placeholder="House number and street name">
                                </div>
                                <div class="col-lg-12 form-group">
                                    <label class="text-small text-uppercase" for="address">Детали адреса</label>
                                    <input class="form-control form-control-lg" id="addressalt" type="text" placeholder="Квартира, подъезд, этаж)">
                                </div>
                                <div class="col-lg-6 form-group">
                                    <label class="text-small text-uppercase" for="city">Город/Округ</label>
                                    <input class="form-control form-control-lg" id="city" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 form-group">
                            <button class="btn btn-dark" type="submit">Разместить заказ</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="card border-0 rounded-0 p-lg-4 bg-light">
                    <div class="card-body">
                        <h5 class="text-uppercase mb-4">Ваш заказ</h5>
                        <ul class="list-unstyled mb-0">
                            <li class="d-flex align-items-center justify-content-between"><strong class="small font-weight-bold">Товар 1</strong><span class="text-muted small">250₽</span></li>
                            <li class="border-bottom my-2"></li>
                            <li class="d-flex align-items-center justify-content-between"><strong class="small font-weight-bold">Товар 2</strong><span class="text-muted small">351₽</span></li>
                            <li class="border-bottom my-2"></li>
                            <li class="d-flex align-items-center justify-content-between"><strong class="text-uppercase small font-weight-bold">Итог</strong><span>601₽</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}